body{
    background-color: #1F3F3F;
	font-family: "Microsoft YaHei UI",BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
    font-size: 13px;
}

#logo{
    width: 280px;
    height: 100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#search-bar{
    margin-top: 25px;
    width: 600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#search-bar input {
    width: 600px;
    height: 20px;
    padding: 9px 10px;
	font-family: 'Microsoft YaHei UI',arial,sans-serif;
    font-size: 15px;
    color: #555;
    border: none;
    background: #fff;
    overflow: hidden;
    outline:none;
    vertical-align: middle;
	border-radius: 0px;
}

#search-bar button {
	margin-top: 20px;
	margin-left: 20px;
    width: 96px;
    height: 30px;
    overflow: hidden;
    text-align: center;
	font-family: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Liberation Sans", "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
	font-weight: 400;
    font-size: 15px;
	color: #fff;
    border: none;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
	border-radius: 0px;
    background-color: #3388FF;
}

#search-bar button:hover{
    background-color: #0D74FF;
}
.group-name {
    height: 32px;
    margin: 5px 0;
    line-height: 36px;
    float: left;
    width: 920px;
    color: #00BE06;
    border-radius: 3px 3px 3px 3px;
    font-size: 16px;
    position: relative;
	border-bottom: 1px solid;
}

.group-txt {
	text-align: left;
	padding-left: 10px;
}
.sites {
	margin-bottom: 16px;
	float: left;
	width: 960px;
}
.foot {
	height: 20px;
}
#nav-panel{
    margin-top: 20px;
    margin-bottom: 100px;
    width: 920px;
	height: 480px;
    margin-left: auto;
    margin-right: auto;
	background: #1F1F1F;
}

.nav-panel-line{
    clear: both;
    width: 960px;
    height:1px;
}

.nav-panel-item {
    float: left;
    display: block;
    height: 40px;
    width: 130px;
    border: 1px solid transparent;
    text-decoration: none;
    color: #fff;
}

.nav-panel-item:hover
{
    background-color: #303030;
}

.nav-panel-item-img{
    float: left;
    margin-top: 12px;
    margin-left: 10px;
}

.nav-panel-item-txt {
    float: left;
    margin-left: 5px;
    line-height: 40px;
    height: 40px;
}